In [5]:
import pandas as pd

df1 = pd.read_csv('world.csv')
df1

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [7]:
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
df2

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.0+ MB

In [12]:
from datetime import datetime
df2['日期']=pd.to_datetime(df2['日期'])
df2

        洲名   國家         日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗 2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗 2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗 2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗 2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗 2020-02-28       5      0  39835428  99999.0
...     ..  ...        ...     ...    ...       ...      ...
187880  非洲  辛巴威 2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威 2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威 2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威 2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威 2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  datetime64[ns]
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 10.0+ MB

In [17]:
#利用query搜尋台灣
taiwan_df2=df2.query('國家=="台灣"')
taiwan_df2

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [18]:
#利用query做搜尋日本
taiwan_df2=df2.query('國家=="日本"')
taiwan_df2

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [22]:
#利用query搜尋台灣
t_j_df=df2.query('國家=="日本"or 國家=="台灣"')
t_j_df

        洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
85626   亞洲  日本 2020-01-22        2      0  126050796  99999.00
85627   亞洲  日本 2020-01-23        2      0  126050796  99999.00
85628   亞洲  日本 2020-01-24        2      0  126050796  99999.00
85629   亞洲  日本 2020-01-25        2      0  126050796  99999.00
85630   亞洲  日本 2020-01-26        4      2  126050796  99999.00
...     ..  ..        ...      ...    ...        ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008    266.71

[1800 rows x 7 columns]

In [40]:
#確認新增確診人數
t_j_df.query('新增確診數>=10000')

        洲名  國家         日期     總確診數  新增確診數       總人口數    解封指數
86180   亞洲  日本 2021-07-29   903351  10752  126050796    0.11
86181   亞洲  日本 2021-07-30   914182  10831  126050796    0.12
86182   亞洲  日本 2021-07-31   926604  12422  126050796    0.13
86183   亞洲  日本 2021-08-01   936852  10248  126050796    0.13
86185   亞洲  日本 2021-08-03   957431  12101  126050796    0.15
...     ..  ..        ...      ...    ...        ...     ...
164884  亞洲  台灣 2022-07-02  3837856  34807   23855008  258.17
164885  亞洲  台灣 2022-07-03  3870528  32672   23855008  260.37
164886  亞洲  台灣 2022-07-04  3893643  23115   23855008  261.94
164887  亞洲  台灣 2022-07-05  3929627  35984   23855008  264.37
164888  亞洲  台灣 2022-07-06  3964188  34561   23855008  266.71

[279 rows x 7 columns]

In [37]:
#count, 計算總筆數
t_j_df.query('新增確診數>=10000').count()

洲名       279
國家       279
日期       279
總確診數     279
新增確診數    279
總人口數     279
解封指數     279
dtype: int64

In [38]:

#計算台灣大於10000的筆數
t_j_df.query('新增確診數 >= 10000 and 國家=="台灣"').count()['國家']

66

In [25]:
import pyinputplus as pyip

countries=['美國','台灣','日本']
country=pyip.inputMenu(countries, numbered=True)
print(country)

Please select one of the following:
1. 美國
2. 台灣
3. 日本
美國

In [31]:
import pandas as pd

import pandas as pd

df1 = pd.read_csv('各鄉鎮市區人口密度.csv')
df2 = df1.rename(columns={"statistic_yyy":"統計年",'site_id':'區域別','people_total':'年底人口數','area':'土地面積','population_density':'人口密度'})
df3 = df2.drop(0)
df4 = df3.reindex(index=range(1,371))
df4

     統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484   16.317  23747
3    106  新北市中和區  413590   20.144  20532
4    106  新北市永和區  222585   5.7138  38956
5    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360      9.9    238
367  106  連江縣莒光鄉    1624      4.7    346
368  106  連江縣東引鄉    1352      3.8    356
369  106    東沙群島      …      2.38     …
370  106    南沙群島      …    0.5045     …

[370 rows x 5 columns]

In [32]:

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    object
 3   土地面積    370 non-null    object
 4   人口密度    370 non-null    object
dtypes: object(5)
memory usage: 14.6+ KB

In [33]:
#使用for_in,只可以觀察,不可以修改
for num in df4['年底人口數']:
    print(num)

551480
387484
413590
222585
416524
302089
184149
86593
114926
169597
199321
40353
238067
201309
84919
78911
106101
23660
7683
6528
23200
12286
38493
4719
8939
12552
22015
22296
6320
206988
225753
309969
230710
159608
129278
191850
274424
122155
287771
288295
256456
440840
405216
94451
167639
161912
89281
157633
198074
121822
224219
48953
66472
11505
18450
75811
125067
115627
147653
227043
168760
274819
166879
50714
77761
86420
92645
57993
54482
65553
108288
95203
24754
15066
32185
19303
74554
57322
77818
65393
189066
211492
10949
77966
25583
28520
21365
23718
21049
44603
24239
22275
21448
9761
59380
26078
24758
22974
19849
11188
43630
48386
36574
30564
7314
14151
9717
8787
4876
75518
68424
34433
4038
233905
186841
125394
132726
192224
66496
77770
24219
139259
197072
183751
343243
51153
26991
171033
189839
28763
157475
359120
69990
112397
42757
34577
85894
44291
97329
37579
29922
7245
28844
52761
29803
30217
13980
19383
36116
36940
39973
13016
6107
12038
14540
1924
4246
3125
95918
72319
40056
29398
35777
24250
32458
53289
39673
21467
6102
5900
181955
28896
33415
96918
77444
13064
56836
20061
14550
9390
5538
9543
4559
89165
103147
45976
34691
85587
36750
17134
14738
33773
18138
10176
10840
16530
7154
12952
6756
4417
5883
233613
124632
86799
90986
33355
55686
41890
50980
16928
36957
47332
39357
45924
23755
36870
32587
34836
37334
43144
15325
27462
30642
33714
16987
15303
30060
100180
81033
97875
55060
10904
38796
17808
14842
15946
18803
17803
16253
15748
108567
44941
70892
46244
28932
40278
31708
19263
28939
18230
27255
24678
45665
14893
13010
23954
25980
23667
27653
25624
37781
42382
27143
31198
71693
14751
31935
23318
24969
18486
15577
49744
44974
35962
19475
11599
4564
5631
200452
54377
47866
30726
50935
30008
11076
22110
26459
25997
24622
20556
54707
17158
9936
24571
35321
15720
18080
10670
19380
12337
8586
7840
5478
7644
3246
6746
5271
7465
4867
4806
4926
105960
14238
8742
17399
6117
11163
8517
7260
7951
8248
3926
3551
4222
3518
3653
5075
104380
10861
24345
20185
83747
18043
12888
4383
11653
10413
15889
6384
6066
62308
14508
9817
8408
5176
3856
52163
53972
38708
44314
47908
82358
52035
212553
150636
77943
122103
147295
43285
29413
20535
30838
12700
685
7544
2360
1624
1352
…
…

In [34]:
def ch(value:str) -> int:
    try:
        return int(value)
    except:
        return 0

df4['年底人口數'] = df4['年底人口數'].map(ch)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    int64
 3   土地面積    370 non-null    object
 4   人口密度    370 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.6+ KB

In [35]:
def ch1(value:int) -> str:
    if value >= 413590:
        return '人口數多'
    else:
        return "人口一般"

df4['人口數狀態'] = df4['年底人口數'].map(ch1)
df4

     統計年     區域別   年底人口數     土地面積   人口密度 人口數狀態
1    106  新北市板橋區  551480  23.1373  23835  人口數多
2    106  新北市三重區  387484   16.317  23747  人口一般
3    106  新北市中和區  413590   20.144  20532  人口數多
4    106  新北市永和區  222585   5.7138  38956  人口一般
5    106  新北市新莊區  416524  19.7383  21102  人口數多
..   ...     ...     ...      ...    ...   ...
366  106  連江縣北竿鄉    2360      9.9    238  人口一般
367  106  連江縣莒光鄉    1624      4.7    346  人口一般
368  106  連江縣東引鄉    1352      3.8    356  人口一般
369  106    東沙群島       0     2.38     …   人口一般
370  106    南沙群島       0   0.5045     …   人口一般

[370 rows x 6 columns]